.btn-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.btn-social-media {
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  font-size: 20px;
}
.bi {
  margin-right: 30px;
}

.btn-sm {
  margin-left: 330px;
}
.form-container {
  width: 40%;
  border-radius: 10px;
}
form {
  background-color: white;
  margin: 20px;
  padding: 40px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
